@import url("https://fonts.googleapis.com/css?family=Chewy");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700,800");
@import url("https://fonts.googleapis.com/css?family=Rajdhani:400,700");
@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700");
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');
@import url('https://fonts.googleapis.com/css?family=Eczar:400,600');
@import url('https://fonts.googleapis.com/css?family=Muli:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Aladin');


$color: #222222;
$color2: #ff9800;
// $color2: #fd840b;
$color3: #999999;
$color-success: #388e3c;
$color-danger: #b91400;
$color4: #1b1b1b;
$color5: #b0b0b0;
$font-color: #909090;
$bg-color: #363636;
$bg-color2: #5d5d5d;
$bg-color3: #282828;
$bg-color4:#eeeeee;
$color-white: #ffffff;
$background-color: #f4f2f1;
$font-OpenSans: 'Open Sans', sans-serif;
$font-chewy: 'Aladin', cursive;
$font-eczar: 'Eczar', serif;
$font-muli: 'Muli', sans-serif;
$font-Montserrat: 'Montserrat', sans-serif;
$font-Rajdhani: 'Rajdhani', sans-serif;
$font: 'Alegreya Sans', sans-serif;
$font-Roboto: 'Roboto', sans-serif;